@import url("https://fonts.googleapis.com/css2?family=Molle&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.molle-regular-italic {
  font-family: "Molle", cursive;
  font-weight: 600;
  font-style: italic;
}
